
name: Task Manager CI

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Build Docker image
        run: docker build -t todo-project .

      - name: Run container
        run: docker run --rm -v "${{ github.workspace }}":/github/workspace todo-project
